<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-<%= errors[0].msg.includes('Berhasil') === true ? 'success' : 'danger'%> col-md-6" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                            <%= errors.msg %>
                </ul>
            </div>
            <% } %>
                <form action="/loginUser" method="post">
                    <div class="mb-3 col-lg-6">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control col-md-6" name="password" id="password">
                    </div>
                    <div class="my-3 col-lg-6">
                        <span>belum punya akun ? <a href="/register">Register</a></span>
                    </div>
                    <button type="submit"  class="btn btn-primary">Login</button>
                    <!-- <div class="my-3 col-lg-6">
                        <a href="/auth/google" class="btn btn-secondary d-block"><span class="fa fa-google"></span> SignIn with Google</a>
                    </div> -->
                </form>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        </body>

        <!-- <script>
            
            const hassPssw = () => {
                const pw = document.getElementById('pass')
                hash(pw)
                axios.post("/loginn", {

                })
            }
            console.log();
        </script> -->

</html>